{% extends 'base.html' %}

{% block title %}Inventario{% endblock %}
{% block pageTitle %}
INVENTARIO
{% endblock %}
{% block cenTitle %} AGREGAR PRODUCTOS{% endblock %}

{% block content %}
    <!-- Aquí va el contenido específico de esta página -->
<form id="formInventario" action="." method="post">
        {% csrf_token %}  
        <div class="card align-items-center">
            <div class="row justify-content-center mt-2 mb-2">
                <div class="col-md-3 mb-3">
                    <div class="form-group text-center">
                        <label for="codigo_producto">Codigo Producto</label>
                        <input id="codigo_producto" type="number" name="codigo_producto" placeholder="2963" class="form-control" min="0" required>
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <div class="form-group text-center">
                        <label for="nombre_articulo">Nombre Producto</label>
                        <input id="nombre_articulo" type="text" name="nombre_articulo" placeholder="Juego de sala" class="form-control" maxlength="50" required>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group text-center">
                        <label for="unidades">Stock de Unidades</label>
                        <input id="unidades" type="number" name="unidades" placeholder="18" class="form-control" min="1" required>
                    </div>
                </div>
                <div class="col-md-1  mt-4 align-items-end">
                    <button type="submit" class="btn btn-info btnGuardar" title="agregar" name="agregar" style="color: #000000; background-color: #4CAF50;">Guardar</button>
                </div>
            </div>
        </div>
                                  
</form>



    <div class="lineapag"></div>

        <h5 class="titulop">LISTA DE PRODUCTOS</h5>
        
    <div class="lineapag"></div>
    <form id="formInventario" action="." method="post">
        {% csrf_token %}  
        <div class="card align-items-center">
            <div class="row justify-content-center mt-1 mb-2">
               
                <div class="col-md-5">
                    <div class="form-group text-center">
                        <label for="nombre_codigo">Nombre o Codigo del Producto</label>
                        <input id="nombre_codigo" type="text" name="nombre_codigo" placeholder="Juego de sala - 0002" class="form-control" maxlength="50" >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group text-center">
                        <label for="unidades2">Stock Unidades</label>
                        <input id="unidades2" type="number" name="unidades2" placeholder="18" class="form-control" step="0.01" min="1" required>
                    </div>
                </div>
                <div class="col-md-3 mt-4">
                    <button type="submit" class="btn btn-info btnGuardar"  title="actualizar" name="actualizar" style="color: #ffffff; background-color: #1260FD;">Actualizar</button>
                </div>
                
            </div>
        </div>                       
    </form>



    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 ">
            <div class="table-responsive py-2">
                <table class="table table-striped table-bordered table-hover table table-bordered border border-gray">
                    <thead class="text-center"> 
                        <tr>
                            <th>#</th>
                            <th>Cod Producto</th>
                            <th>Nombre Articulo</th>
                            <th>Unidades</th>
                            <th>Editar Unidades</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for x in inv %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{x.codigo_producto}}</td>
                            <td>{{x.nombre_articulo}}</td>
                            <td>{{x.unidades}}</td>
                            <td  class="col-md-2 mb-2">
                                <form id="editarForm_{{ forloop.counter }}" action="{% url 'editarInventario' x.codigo_producto %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" id="unidades_{{ forloop.counter }}" name="unidades" placeholder="Nuevo Stock" class="form-control" min="1" required>
                            </td>
                            <td> <!-- Aquí comienza la nueva celda para los botones -->
                                <input type="submit" value="Guardar" class="btn btn-info btnGuardar" style="color: #000000; background-color: #4CAF50;">
                                </form>
                            
                            <td>
                                <form id="eliminarForm_{{ forloop.counter }}" action="{% url 'eliminarProducto' x.codigo_producto %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Eliminar" class="btn btn-danger btnEliminar">
                                    
                                </form>
                            </td>
                        
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}