{% extends 'base.html' %}


{% block title %}Nuevo Cliente{% endblock %}

{% block pageTitle %}
GESTIÓN PRECIOS
{% endblock %}
{% block cenTitle %} ASIGNAR O MODIFICAR PRECIO {% endblock %}


{% block content %}

<form id="formInventario" action="." method="post">
    {% csrf_token %}  
    <div class="card align-items-center">
        <div class="row justify-content-center mt-2 mb-2">
           
            <div class="col-md-5 mb-3">
                <div class="form-group text-center">
                    <label for="nombre_codigo">Nombre o Codigo del Producto</label>
                    <input id="nombre_codigo" type="text" name="nombre_codigo" placeholder="Juego de sala - 0002" class="form-control" maxlength="50" >
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="form-group text-center">
                    <label for="precio">Precio</label>
                    <input id="precio" type="number" name="precio" placeholder="18" class="form-control" step="0.01" min="1" required>
                </div>
            </div>
            <button type="submit" class="btn btn-info" title="agregar" name="agregar">Agregar</button>
            
        </div>
    </div>                       
</form>

<div class="lineapag"></div>

    <h5 class="titulop">LISTA DE PRECIOS</h5>
    
    <div class="lineapag"></div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 ">
        <div class="table-responsive py-2">
            <table class="table table-striped table-bordered table-hover table table-bordered border border-gray">
                <thead class="text-center"> 
                    <tr>
                        <th>#</th>
                        <th>Cod Producto</th>
                        <th>Nombre Articulo</th>
                        <th>Precio</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for x in inv %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{x.codigo_producto}}</td>
                        <td>{{x.nombre_articulo}}</td>
                        <td>{{x.precio}}</td>
                
                        <td>
                            <form action="{% url 'eliminarPrecio' x.codigo_producto %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="precio" value="0">
                                <input type="submit" value="Borrar" class="btn btn-danger btnEliminar">
                            </form>
                        </td>
                    
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

   

{% endblock %}