{% extends 'base.html' %}
{% load static %}

{% block title %}Nueva Venta{% endblock %}

{% block pageTitle %}
NUEVA VENTA
{% endblock %}
{% block cenTitle %} REGISTRAR VENTA {% endblock %}

{% block content %}


  
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Documento de Venta</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="numeroFactura" class="col-sm-2 col-form-label">Factura Nro</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="numeroFactura" name="numeroFactura" readonly>
                        </div>
                        <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="fecha" name="fecha" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cedula" class="col-sm-2 col-form-label">Cédula</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cedula" minlength="10" maxlength="13" name="cedula" required>
                        </div>
                        <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cliente" name="cliente" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contacto" class="col-sm-2 col-form-label">Contacto</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="contacto" name="contacto"  readonly>
                        </div>
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" id="email" name="email"  readonly>
                        </div>
                    </div>

                    <h4>Productos</h4>
                    <div class="product-headers row mb-2">
                        <div class="col-md-3"><strong>Código Producto</strong></div>
                        <div class="col-md-3"><strong>Nombre Producto</strong></div>
                        <div class="col-md-2"><strong>Unidades</strong></div>
                        <div class="col-md-2"><strong>Precio</strong></div>
                        <div class="col-md-2"><strong>Subtotal</strong></div>
                    </div>
                    <div id="product-container">
                        <div class="product-row row">
                            <div class="col-md-3">
                                <input type="text" class="form-control codigo_producto" name="codigo_producto[]" title="codigo producto" required>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control nombre_articulo" name="nombre_articulo[]" title="nombre articulo" required>
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control" min="1" name="unidades[]" title="unidades" required>
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control precio" name="precio[]"  title="precio" step="0.01" min="1" required>
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control" name="subtotal_producto[]"  title="subtotal producto" step="0.01" min="1" readonly>
                            </div>
                        </div>
                    </div>
                    
                    <button type="button" class="btn btn-secondary mt-3" id="add-product">Agregar Producto</button>

                    <div class="form-group row mt-4">
                        <div class="col-md-6">
                            <label for="forma_pago" class="col-form-label">Forma de Pago</label>
                            <select class="form-control" id="forma_pago" name="forma_pago" required>
                                <option value="efectivo">Efectivo</option>
                                <option value="transferencia">Transferencia</option>
                                <option value="cheque">Cheque</option>
                                <option value="otro">Otro</option>
                            </select>
                            <label for="observaciones" class="col-form-label mt-3">Observaciones</label>
                            <textarea class="form-control" id="observaciones" name="observaciones" rows="3"></textarea>
                        </div>
                        <div class="col-md-6 mt-5">
                            <div class="form-group row">
                                <label for="subtotal" class="col-sm-4 col-form-label">Subtotal</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="subtotal" name="subtotal" step="0.01" min="1" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="iva" class="col-sm-4 col-form-label">IVA</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" id="porcentaje" name="porcentaje" placeholder="%" required>
                                </div>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" id="iva" name="iva" step="0.01" min="1" readonly>
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <label for="total" class="col-sm-4 col-form-label">Total</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="total" name="total" step="0.01" min="1" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btnGuardar" style="color: #000000; background-color: #4CAF50;">Guardar Factura</button>
                </form>
            </div>
        </div>
    </div>


    <script>

$(document).on('blur', '.codigo_producto, .nombre_articulo', function() {
    var value = $(this).val();
    var fieldName = $(this).attr('name');
    var $fila = $(this).closest('.product-row');
    
    var data = {};
    data[fieldName] = value;

    $.ajax({
        url: '{% url "autoProducto" %}',
        data: data,
        success: function(data) {
            $fila.find('.codigo_producto').val(data.codigo_producto);
            $fila.find('.nombre_articulo').val(data.nombre_articulo);
            $fila.find('.precio').val(data.precio);
        },
        error: function() {
            $fila.find('.codigo_producto').val('');
            $fila.find('.nombre_articulo').val('');
            $fila.find('.precio').val('');
        }
    });
});
        $(document).ready(function() { 
        $('#cedula').on('input', function() {       
        var cedula = $(this).val();
 
        $.ajax({
            
            url: '{% url "autoCliente" %}',
            data: {'cedula': cedula},
            success: function(data) {
                $('#cliente').val(data.cliente);
                $('#contacto').val(data.contacto);
                $('#email').val(data.email);
            },
            error: function() {
                $('#cliente').val('');
                $('#contacto').val('');
                $('#email').val('');
            }
        });
    });
});

        document.getElementById('add-product').addEventListener('click', function () {
            const container = document.getElementById('product-container');
            const productRow = document.createElement('div');
            productRow.className = 'product-row row';

            productRow.innerHTML = `
                <div class="col-md-3">
                    <input type="text" class="form-control codigo_producto" name="codigo_producto[]" title="codigo producto" required>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control nombre_articulo" name="nombre_articulo[]" title="nombre articulo" required>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" min="1" name="unidades[]" title="unidades"  required>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control precio" step="0.01" min="1" name="precio[]"  title="precio" required>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="subtotal_producto[]" title="subtotal producto" step="0.01" min="1" readonly>
                </div>
            `;

            container.appendChild(productRow);
        });

        document.getElementById('product-container').addEventListener('input', function (e) {
            if (e.target.name === 'unidades[]' || e.target.name === 'precio[]') {
                const row = e.target.closest('.product-row');
                const unidades = row.querySelector('[name="unidades[]"]').value;
                const precio = row.querySelector('[name="precio[]"]').value;
                const subtotalField = row.querySelector('[name="subtotal_producto[]"]');
                subtotalField.value = (unidades * precio).toFixed(2);

                updateTotals();
            }
        });




        function updateTotals() {
            const subtotals = document.querySelectorAll('[name="subtotal_producto[]"]');
            let subtotal = 0;
            let porcentaje = parseFloat(document.getElementById('porcentaje').value) || 0;
            subtotals.forEach(field => {
                subtotal += parseFloat(field.value) || 0;
            });
            const iva = (subtotal * porcentaje)/100;
            const total = subtotal + iva;

            document.getElementById('subtotal').value = subtotal.toFixed(2);
            document.getElementById('iva').value = iva.toFixed(2);
            document.getElementById('total').value = total.toFixed(2);
        }

        document.getElementById('porcentaje').addEventListener('input', function () {
        updateTotals();
    });
    </script>
  
{% endblock %}

