{% extends 'base.html' %}
{% load static %}

{% block title %}Visualización de Venta{% endblock %}

{% block pageTitle %}
VER VENTA
{% endblock %}
{% block cenTitle %} VISUALIZACIÓN DE VENTA {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Detalles del Documento de Venta</h2>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="numeroFactura" class="col-sm-2 col-form-label">Factura Nro</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="numeroFactura" name="numeroFactura" value="{{ factura.numeroF }}" readonly>
                </div>
                <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="fecha" name="fecha" value="{{ factura.fecha }}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="cedula" class="col-sm-2 col-form-label">Cédula</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="cedula" name="cedula" value="{{ factura.cliente.cedula }}" readonly>
                </div>
                <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="cliente" name="cliente" value="{{ factura.cliente.nombres }}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="contacto" class="col-sm-2 col-form-label">Contacto</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="contacto" name="contacto" value="{{ factura.cliente.celular }}" readonly>
                </div>
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" id="email" name="email" value="{{ factura.cliente.email }}" readonly>
                </div>
            </div>
            <h4>Productos</h4>
            <div class="product-headers row mb-2">
                <div class="col-md-3"><strong>Código Producto</strong></div>
                <div class="col-md-3"><strong>Nombre Producto</strong></div>
                <div class="col-md-2"><strong>Unidades</strong></div>
                <div class="col-md-2"><strong>Precio</strong></div>
                <div class="col-md-2"><strong>Subtotal</strong></div>
            </div>
            <div id="product-container">
                {% for venta in ventas %}
                <div class="product-row row">
                    <div class="col-md-3">
                        <input type="text" class="form-control codigo_producto" name="codigo_producto[]" value="{{ venta.producto.codigo_producto }}" readonly>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control nombre_articulo" name="nombre_producto[]" value="{{ venta.producto.nombre_articulo }}" readonly>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control"  name="unidades[]" value="{{ venta.unidades }}" readonly>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control precio" name="precio[]" value="{{ venta.precio|floatformat:"0,10" }}" readonly>
                    </div>        
                    <div class="col-md-2">
                        <input type="text" class="form-control subtotal_producto" name="subtotal_producto[]"  step="0.01" min="1" value="{{ venta.subtotal }}" readonly>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="form-group row mt-4">
                <div class="col-md-6">
                    <label for="forma_pago" class="col-form-label">Forma de Pago</label>
                    <input type="text" class="form-control" id="forma_pago" name="forma_pago" value="{{ factura.formaPago }}" readonly>
                    <label for="observaciones" class="col-form-label mt-3">Observaciones</label>
                    <input type="text" class="form-control" id="observaciones" name="observaciones" value="{{ factura.observaciones }}" readonly>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="form-group row">
                        <label for="subtotal" class="col-sm-4 col-form-label">Subtotal</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="subtotal" name="subtotal" value="{{ factura.subtotal }}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="iva" class="col-sm-4 col-form-label">IVA</label>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" id="porcentaje" name="porcentaje" value="{{ factura.porcentaje }}"  readonly>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="iva" name="iva"  value="{{ factura.iva }}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="total" class="col-sm-4 col-form-label">Total</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="total" name="total" value="{{ factura.total }}" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

       